<div class="container mt-5">
    <ng-container *ngIf="!cargando && !error">
        <h1 class="fw-light">Resultados de "{{nombre}}"</h1>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let juego of juegos">
                <div class="card h-100">
                    <img [src]="juego.imagen" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{juego.nombre}}</h5>
                        <p class="card-text">{{juego.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">{{juego.consola.nombre}}</small></p>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" [routerLink]="['/', 'juegos', juego.id_juego]">Ver mas</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{juego.fecha | date: 'shortDate'}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="!cargando && juegos.length === 0">
            <h4 class="alert-heading">Sin Resultados</h4>
            <p>No se han encontrado resultados para "{{nombre}}"</p>
        </div>
    </ng-container>

</div>