<div class="container mt-5">
    <h1 class="fw-light">Lista de Juegos</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Consola</th>
                <th>Fecha de lanzamiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>apex</td>
                <td>ps3</td>
                <td>2000-09-10</td>
                <td>
                    <button class="btn btn-outline-primary">Ver</button>
                    <button class="btn btn-outline-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>