<div class="container bg-light rounded-3" style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 5%; padding: 5%;">
    <h1 class="display-4">Olvido su Contraseña</h1>
    <p>Ingrese los siguientes datos para recuperar su contraseña</p>
    <hr>
    <form [formGroup]="olivioForm" (ngSubmit)="login()">
        <div class="row">
            <div class="col-lg-3">
                <h4>Username:</h4>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="username" formControlName="username" [class.is-invalid]="usernameNoValido">
                <div class="invalid-feedback" class="invalid-feedback" *ngIf="usernameNoValido">
                    Username es obligatorio.
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-3">
                <h4>Correo:</h4>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="correo" formControlName="correo" [class.is-invalid]="correoNoValido">
                <div class="invalid-feedback" class="invalid-feedback" *ngIf="correoNoValido">
                    Correo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-9">
                <a routerLink="/auth/register" class="text-decoration-none mt-1">
                    <small class="text-muted">¿No tiene cuenta todavía?</small>
                </a>
            </div>
            <div class="col-3 d-grid text-center">
                <button class="btn btn-primary " type="submit">Enviar</button>
            </div>
        </div>
        <div class="alert alert-danger mt-3" *ngIf="invalido">
            <p>No se encontraron resultados</p>
        </div>
    </form>
</div>